{% extends "layout.html" %}

{% block title %}Liquor Laws App{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="./{{ url_for('static', filename= 'style.css')}}">
{% endblock %}

{% block content %}
  <div class= "container">
    <h1>Welcome to Liquor Laws</h1>
    <p>Please enter the U.S state to see their liquor laws:</p>
    <form>
      <input type="text" id="stateInput" placeholder="Enter U.S. State">
      <button type="submit">Submit</button>
    </form>
    <div id="resultContainer"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}