{% extends "layout.html" %}
{% block content %}
  <div class="container container-fluid bg-accent border-bottom">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">State List!</h1>
      <p class="col-lg-8 mx-auto lead">
      Click below to view alaska!!
      </p><a href="{{ url_for('get_state_liquor_laws', state_code='AK') }}">
      <button class="btn btn-primary px-5 mb-5 button"  type="button">
      ALASKA!
    </button>
    </a>
    </div>
  </div>
</div>
{% endblock content %}